*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 }
.carousel-item {
    height: 100vh;
}
.img-box{
    width: 550px;

}
.pic-one{
    width: 100%;
}
.slide-one{
    background: #b0c6f5;
}
.carousel-item .row{
    margin: 12% 0;
}
.carousel-item h1{
    margin-top: 40px;
    font-weight: bold;
    color: #fff;

}
.carousel-item p{
    margin: 30px 0 50px;
   font-size: 13px;
    color: #fff;

}
.carousel-item button{
    padding: 8px 20px;
    background: #0c5ce3;
    border: 0;
    outline: none;
    border-radius: 20px;
    color: #fff;
    font-size: 13px;

}
.slide-two{
    background: #f7f7f7;
}
.slide-two h1,.slide-two p{
    color: #feb154;
}
.img-one{
    width: 100%;
}
.slide-two button{
    background: linear-gradient(to right, #feb154, #ffd255);
}


.slide-three{
    background: #f7f7f7;
}
.slide-three h1,.slide-three p{
    color: #feb154;
}
.graph-one{
    width: 100%;
}
.slide-three button{
    background: linear-gradient(to right, #feb154, #ffd255);
}